.main {
  height: 75vh;
  width: 75%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  background: linear-gradient(
                  to right bottom,
                  rgba(255,255,255, 0.4),
                  rgba(255,255,255,0.1)
  );
  transform: translate(-50%, -50%);
  border-radius: 2rem;
  overflow: hidden;
  @include respond(largeTablet) {
    height: 85vh;
    width: 85%;
  }
  @include respond(tablet) {
    height: 100vh;
    width: 95%;
  }
  @include respond(largePhone) {
    height: 100vh;
    width: 90%;
    overflow: auto;
  }
}