.weather-search {

  &__form {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }

  &__input {
    display: inline-block;
    border: solid 2px transparent;
    background-color: rgba($sub-title, 0.1);
    border-radius: 1rem;
    margin-right: 2rem;
    padding: 1.5rem 4rem 1.5rem 1rem;
    font-size: 18px;

    &:focus {
      outline: none;
      border-bottom: solid 2px $sub-title;
    }
  }

  &__submit {
    display: inline-block;
    text-align: center;
    background-color: transparent;
    font-size: 3rem;
    height: 30px;
    width: 30px;
    position: relative;
    top: 0.9rem;
    margin-left: -6rem;
  }

  &__button {
    padding: 1.2rem;
    color: $sub-title;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
}