.footer {
  position: absolute;
  bottom: 0;
  padding: 1.5rem 0;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  letter-spacing: 0.3px;
  color: $title;
  margin-top: 20px;
  width: 100%;
  @include respond(largePhone) {
    letter-spacing: 0;
    width: 90%;
  }
  & a {
    margin-left: 5px;
    transition: .3s;
    &:hover {
      color: #FFF;
    }
  }
}