.weather-data {
  text-align: center;
  margin-top: 3rem;

  &__city {
    color: $sub-title;
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    @include respond(tablet) {
      margin-top: 2rem;
      display: block;
      font-size: 0px;
    }

  }

  &__content {
    padding: 10px;
    width: 200px;
    margin: auto auto 10px;
    border-radius: 2rem;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  }

  &__property {
    margin: 0 3rem;
    padding: 15px;
    @include respond(smallPhone) {
      margin: 0 2rem;
    }
  }

  &__title {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 15px;
    color: $title;
    @include respond(tablet) {
      font-size: 12px;
    }
  }

  &__value {
    color: #FFF;
    font-size: 4rem;
    line-height: 0.6;
    @include respond(tablet) {
      font-size: 18px;
    }
  }
}