@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-weight: 400;
  font-family: $main-font;
  font-size: 16px;
  line-height: 1.7;
  color: $text-1;
  padding-bottom: 2rem;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);


}

a:link, a:visited {
  color: $sub-title;
  text-decoration: none;
}

a:hover, a:active {
  color: $title;
}

button {
  background-color: transparent;
  border: none;
}

span {
  display: inline !important;
}